<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @tea.type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tea.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @tea.user_id %>
</p>

<%= link_to 'Edit', edit_tea_path(@tea) %> |
<%= link_to 'Back', teas_path %>
